tensorflow==2.15.0
tensorboard==2.15.1


numpy==1.26.4
pandas==2.2.3
scipy==1.11.4
matplotlib==3.8.4
imageio==2.37.0
scikit-image==0.22.0
pillow==10.3.0

geopandas==1.0.1
shapely==2.0.3
pyproj==3.6.1
pyogrio==0.10.0

graphviz==0.20.3
pydot==3.0.4

protobuf==4.23.4
h5py==3.10.0
gast==0.5.4
opt_einsum==3.3.0
wrapt==1.14.1
six==1.16.0
termcolor==2.3.0
markdown==3.5.2
werkzeug==3.0.1

requests==2.32.3
urllib3==2.2.1
charset-normalizer==3.3.2
idna==3.6
certifi==2024.2.2

rich==13.9.4
packaging==24.2
python-dateutil==2.9.0.post0
pytz==2024.1
tzdata==2024.1
